*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


header{
    background-color: bisque;
    box-shadow: 3px 3px 3px; color: black;
}


.header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 100px;
    align-items: center;
    
    
}



.image img{
    width: 100px;
    height: 100px;
}


.nav{
    display: flex;
    gap: 50px;
}


.nav a{
    color: blue;
    font-size: 24px;
}


section{
    max-width: 1440px;
    margin: 0 auto;
    
    
}


.section{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}


.tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}


.tittle h1{
    font-size: 30px;
    color: crimson;
}


.tittle p{
    font-size: 20px;
    color: rgb(11, 5, 95);
}


.cards{
    display: flex;
    justify-content: space-between;
}


.cards img{
    width: 450px;
    height: 300px;
}



footer{
    margin-top: 100px;
    background-color: bisque;
}



.footer{
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
    align-items: center;
}


.image img{
    transition: .5s;
}


.image img:hover{
    transform: scale(1.2);
}




.footer-nav{
    display: flex;
    gap: 70px;
}


.footer-nav a{
    font-size: 24px;
    color: blue;
    transition: .3s;
}

.footer-nav a:hover{
    color: brown;
    transform: scale(1.2);
}


























